/* Navigation Bar */
.navbar {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 20px 40px;

  background: black;

  color: white;
}

/* Navigation Links Container */
.nav-links {
  display: flex;

  gap: 20px;
}

/* Navigation Links */
.nav-links a {
  color: white;

  text-decoration: none;

  font-weight: bold;
}
